
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/gg.css' %}">
    <title>Document</title>



</head>
<body>
    <p id="pp">this is about page</p>
    <div class="container">
        <h1 class="text-center">Bootstrap is working!</h1>
        <button class="btn btn-primary">Test Button</button>
        <img src="{%static 'images/ee.jpg'%}" width="100" height="100">
        <script src="{%static 'js/he.js'%}"></script>
        <p onmouseenter="tt()">sfdsfdsf</p>

    </div>
</body>
</html>